<div id="container" class="paso3">
    <div class="info">
        <p class="titulo">¡Felicidades!<span>SI YA COMPRASTE TU SOAP AHORA SÓLO FALTA</span><span>LA AYUDA DE TUS AMIGOS</span></p>
        <p>Recuerda que al menos 10 de ellos deben contratar el Seguro Obligatorio a través de tu publicación para que puedas tener tu SOAP a costo $0</p>        
    </div>
    <p class="reloj">
        <span>¿Aún no has contratado el SOAP para tu vehículo?</span>Puedes obtenerlo hoy, junto a un exclusivo reloj Alfa Romeo, desde $10.900. Además, estarás participando en el sorteo de un Alfa Romeo Mito.
        <a href="https://www.magallanes.cl/venta/index.aspx?key=k66clCFRelAlRom2&utm_source=facebook&utm_medium=app_compartir&utm_campaign=SOAP2014&utm_content=footer_app" class="contratalo" target="_blank">CONTRÁTALO AQUÍ</a>
    </p>    
</div>